set admin-admin_credentials ='admin:{{ admin_login_password }}';
set mysql-monitor_password='{{ mysql_monitor_password }}';
delete from mysql_users;
insert into mysql_users(username,password,default_hostgroup) values ('root','{{ root_password }}',{{ writer_hostgroup }});
insert into mysql_users(username,password,default_hostgroup) values ('{{ business_user }}','{{ business_password }}',{{ writer_hostgroup }});
load mysql users to runtime;
save mysql users from runtime;
save mysql users to disk;
load mysql variables to runtime;
save mysql variables to disk;
load admin variables to runtime;
save admin variables to disk;